body {
    background: url("/img/fondo.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
}




/* Animación suave */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Logo */
.logo-area img {
    width: 120px;
    margin-bottom: 20px;
}

/* Título */
.login-card h2 {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 600;
}



