/* Reinicio general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/img/fondo.jpg") center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
    color: white;
    overflow: hidden;
}

/* Contenedor principal */
.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

.logo span {
    display: block;
}

/* Botones */
.botones {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #257cff;
    border: none;
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

    .btn:hover {
        background-color: #1b5fd8;
        transform: scale(1.05);
    }

/* Efecto suave de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.container {
    animation: fadeIn 1s ease-in-out;
}
